body {
  background-color: rgb(0, 2, 36);
  color: white;
}
.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border: 0;
  background: rgb(42, 42, 110);
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.project-card {
  border: 1px solid blue;
  border-radius: 6px;
  width: 70%;
  margin-left: 10%;
  margin-bottom: 20px;
  padding: 20px;
}

.action-card {
  border: 1px solid red;
  border-radius: 6px;
  width: 70%;
  margin-left:10%;
  margin-bottom: 10px;
  padding: 20px;
}